<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Contact list</title>
  <link rel="stylesheet" href="addContact.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
  <div class="modal">
    <div id="task_Choice" class="task_Choice">
      <p class="par_Choice" id="addChoice" onclick="chooseAdd()"><b>add</b></p>
      <p class="par_Choice" id="updateChoice" onclick="chooseUpdate()">update</p>
      <p class="par_Choice" id="deleteChoice" onclick="chooseDelete()">delete</p>
      <p class="par_Choice" id="requestChoice" onclick="chooseRequest()">request</p>
    </div>
    <div class="input_contact_form" id="input_contact_div">
      <select class="data_input" id="selectId" name="id" hidden>
      </select>
      <form class="input_contact_form" id="input_contact_form">
        <input type="text" class="data_input" id="name" name="name" placeholder="name">
        <input type="text" class="data_input" id="phone" name="phone" placeholder="phone">
        <input type="text" class="data_input" id="email" name="email" placeholder="email">
        <input type="text" class="data_input" id="blogLink" name="blogLink" placeholder="blogLink">
        <input type="text" class="data_input" id="comment" name="comment" placeholder="comment">
        <input type="button" id="submit" class="add_contact_button" value="add contact">
      </form>
      <table id="nameRequestTable" hidden></table>
      <p th:text="${listSize}"></p>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
<script src="Scripts/AddContact/addContact.js"></script>
<script src="Scripts/AddContact/submitButtonListeners.js"></script>
<script src="Scripts/AddContact/selectIdListener.js"></script>
<script src="Scripts/AddContact/drawTableRequestByName.js"></script>
</body>
</html>